@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: rgb(17, 24, 39);
} */

:root {
  --background: rgb(17, 24, 39);
  --foreground: #ededed;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(17, 24, 39);
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
